<?xml version="1.0" ?>
<!-- abb_irb6600_support/meshes/irb6600_205_190/ -->
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/600cc7ec2a648e2819460c21/w/9c47313b92c7a7fa0f04901d/e/25f4f210713129f666b89649 -->
<robot name="abb_irb6600_support_205_190">
  <!-- Link base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <!-- Part base_link -->
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://abb_irb6600_support/meshes/irb6600_205_190//base_link.stl"/>
      </geometry>
      <material name="base_link_material">
        <color rgba="0.843137 0.843137 0.843137 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://abb_irb6600_support/meshes/irb6600_205_190//base_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_1 -->
  <link name="link_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <!-- Part link_1 -->
    <visual>
      <origin xyz="-9.70092e-18 3.84889e-17 0.2135" rpy="3.14159 1.55799e-24 8.42367e-56"/>
      <geometry>
        <mesh filename="package://abb_irb6600_support/meshes/irb6600_205_190//link_1.stl"/>
      </geometry>
      <material name="link_1_material">
        <color rgba="0.843137 0.843137 0.843137 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-9.70092e-18 3.84889e-17 0.2135" rpy="3.14159 1.55799e-24 8.42367e-56"/>
      <geometry>
        <mesh filename="package://abb_irb6600_support/meshes/irb6600_205_190//link_1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_2 -->
  <link name="link_2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <!-- Part link_2 -->
    <visual>
      <origin xyz="-0.3 0.8145 -0.1385" rpy="1.5708 -1.19007e-14 1.55799e-24"/>
      <geometry>
        <mesh filename="package://abb_irb6600_support/meshes/irb6600_205_190//link_2.stl"/>
      </geometry>
      <material name="link_2_material">
        <color rgba="0.843137 0.843137 0.843137 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.3 0.8145 -0.1385" rpy="1.5708 -1.19007e-14 1.55799e-24"/>
      <geometry>
        <mesh filename="package://abb_irb6600_support/meshes/irb6600_205_190//link_2.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_3 -->
  <link name="link_3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <!-- Part link_3 -->
    <visual>
      <origin xyz="-0.3 1.5145 -0.095" rpy="1.5708 1.06568e-14 -1.66533e-16"/>
      <geometry>
        <mesh filename="package://abb_irb6600_support/meshes/irb6600_205_190//link_3.stl"/>
      </geometry>
      <material name="link_3_material">
        <color rgba="0.792157 0.819608 0.933333 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.3 1.5145 -0.095" rpy="1.5708 1.06568e-14 -1.66533e-16"/>
      <geometry>
        <mesh filename="package://abb_irb6600_support/meshes/irb6600_205_190//link_3.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_4 -->
  <link name="link_4">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <!-- Part link_4 -->
    <visual>
      <origin xyz="-5.67402e-15 1.7945 0.44" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://abb_irb6600_support/meshes/irb6600_205_190//link_4.stl"/>
      </geometry>
      <material name="link_4_material">
        <color rgba="0.792157 0.819608 0.933333 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-5.67402e-15 1.7945 0.44" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://abb_irb6600_support/meshes/irb6600_205_190//link_4.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_5 -->
  <link name="link_5">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <!-- Part link_5 -->
    <visual>
      <origin xyz="-1.193 -1.7945 -0.103" rpy="-1.5708 -6.83895e-17 -2.77556e-16"/>
      <geometry>
        <mesh filename="package://abb_irb6600_support/meshes/irb6600_205_190//link_5.stl"/>
      </geometry>
      <material name="link_5_material">
        <color rgba="0.843137 0.843137 0.843137 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.193 -1.7945 -0.103" rpy="-1.5708 -6.83895e-17 -2.77556e-16"/>
      <geometry>
        <mesh filename="package://abb_irb6600_support/meshes/irb6600_205_190//link_5.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link link_6 -->
  <link name="link_6">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <!-- Part link_6 -->
    <visual>
      <origin xyz="1.38513e-15 1.7945 1.356" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://abb_irb6600_support/meshes/irb6600_205_190//link_6.stl"/>
      </geometry>
      <material name="link_6_material">
        <color rgba="0.501961 0.501961 0.501961 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="1.38513e-15 1.7945 1.356" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://abb_irb6600_support/meshes/irb6600_205_190//link_6.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from link_5 to link_6 -->
  <joint name="joint_6" type="revolute">
    <origin xyz="0.163 3.33067e-15 -0.103" rpy="-3.14159 1.5708 0"/>
    <parent link="link_5"/>
    <child link="link_6"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159"/>
  </joint>
  <!-- Joint from link_4 to link_5 -->
  <joint name="joint_5" type="revolute">
    <origin xyz="-0.103 1.9984e-15 -0.753" rpy="-3.14159 1.5708 0"/>
    <parent link="link_4"/>
    <child link="link_5"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-2.0944" upper="2.0944"/>
  </joint>
  <!-- Joint from link_3 to link_4 -->
  <joint name="joint_4" type="revolute">
    <origin xyz="0.14 -0.28 -0.095" rpy="1.62115e-16 -1.5708 0"/>
    <parent link="link_3"/>
    <child link="link_4"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159"/>
  </joint>
  <!-- Joint from link_2 to link_3 -->
  <joint name="joint_3" type="revolute">
    <origin xyz="-2.05391e-15 -0.7 -0.0435" rpy="1.93349e-15 -1.19007e-14 1.55799e-24"/>
    <parent link="link_2"/>
    <child link="link_3"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-1.22173" upper="1.39626"/>
  </joint>
  <!-- Joint from link_1 to link_2 -->
  <joint name="joint_2" type="revolute">
    <origin xyz="0.3 -0.1385 -0.601" rpy="1.5708 1.55799e-24 8.42367e-56"/>
    <parent link="link_1"/>
    <child link="link_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-0.733038" upper="1.48353"/>
  </joint>
  <!-- Joint from base_link to link_1 -->
  <joint name="joint_1" type="revolute">
    <origin xyz="0 0 0.2135" rpy="3.14159 -0 0"/>
    <parent link="base_link"/>
    <child link="link_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.14159" upper="3.14159"/>
  </joint>




  <link name="tool0"/>


  <joint name="link_6-tool0" type="fixed">
    <child link="tool0"/>
    <origin rpy="0 3.14159265359 -0.0" xyz="0.0 0.0 -0.05"/>
    <parent link="link_6"/>
  </joint>



    <!-- <link name="tool_small">
      <collision>
        <geometry>
          <box size="0.4 0.4 0.38"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 -0.19"/>
      </collision>
      <visual>
        <geometry>
          <box size="0.4 0.4 0.38"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 -0.19"/>
      </visual>
    </link>

    <joint name="tool0-tool_small" type="fixed">
      <child link="tool_small"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.4"/>
      <parent link="tool0"/>
    </joint> -->


    <link name="tool_mid">
      <collision>
        <geometry>
          <box size="0.8 0.8 0.48"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 -0.245"/>
      </collision>
      <visual>
        <geometry>
          <box size="0.8 0.8 0.48"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 -0.245"/>
      </visual>
    </link>

    <joint name="tool0-tool_mid" type="fixed">
      <child link="tool_mid"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.5"/>
      <parent link="tool0"/>
    </joint>


  <!-- <link name="tool_large">
    <collision>
      <geometry>
        <box size="1.2 1.6 0.58"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 -0.29"/>
    </collision>
    <visual>
      <geometry>
        <box size="1.2 1.6 0.58"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 -0.29"/>
    </visual>
  </link>

  <joint name="tool0-tool_large" type="fixed">
    <child link="tool_large"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.6"/>
    <parent link="tool0"/>
  </joint> -->

</robot>



